@page "/viewapartmenttask/{apartmentId:int}/{address}"
@using SkjødeSystem.Models
@inject NavigationManager NavigationManager

<h1>Opgaveliste</h1>

<div style="margin-bottom: 10px; text-align: right;">
	<button class="btn btn-primary" @onclick="NavigateToCreateTask">
		Opret opgave
	</button>
</div>



<table class="table table-bordered" border="3" style="table-layout: fixed; width: 100%;">
	<thead>
		<tr>
			<th style="width: 40%;">Opgaver</th>
			<th style="width: 20%;">Underentreprenør</th>
			<th style="width: 10%;">Dato</th>
			<th style="width: 10%;">Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var task in tasks)
		{
			<tr>
				<td style="word-wrap: break-word;">@task.Description</td>
				<td>@task.Subcontractor</td>
				<td>@task.Date</td>
				<td>
					<select class="form-control" tabindex="task.Status">
						<option value="Ikke påbegyndt">Ikke påbegyndt</option>
						<option value="Påbegyndt">Påbegyndt</option>
						<option value="Færdig">Færdig</option>
					</select>
				</td>
			</tr>
		}
	</tbody>
</table>

<h3>Kontaktoplysninger</h3>

<table class="content-table">
	<thead>
		<tr>
			<th>Adresse</th>
			<th>ID</th>
			<th>Fornavn</th>
			<th>Efternavn</th>
			<th>Email</th>
			<th>Telefon</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@address</td>
			<td>@apartmentId</td>
			<td>@firstName</td>
			<td>@lastName</td>
			<td>@email</td>
			<td>@phone</td>
		</tr>
	</tbody>
</table>

<style>
	.content-table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		min-width: 400px;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

	.content-table thead tr {
		background-color: #009879;
		color: #ffffffff;
		text-align: left;
		font-weight: bold;
	}

	.content-table th,
	.content-table td {
		padding: 12px 15px;
	}

	.content-table tbody tr {
		border-bottom: 1px solid #dddddd;
	}

	.content-table tbody tr:last-of-type {
		border-bottom: 2px solid #009879;
	}
</style>

@code {
	[Parameter]
	public int apartmentId { get; set; }

	[Parameter]
	public string address { get; set; }

	private List<TaskModel> tasks;

	protected override void OnInitialized()
	{
		address = Uri.UnescapeDataString(address);

		// Midlertidig data
		tasks = new List<TaskModel>{
			new TaskModel {Description = "Male soveværelse", Subcontractor = "Kim Nørgaard", Date = "2024-10-12", Status = "Ikke åbegyndt"},
			new TaskModel {Description = "Reparere mur", Subcontractor = "Mark Vestergaard", Date = "2024-11-12", Status = "Ikke åbegyndt" },
			new TaskModel {Description = "Installere vandhane", Subcontractor = "Bo Jespersen", Date = "2024-12-12", Status = "Ikke åbegyndt" },
			new TaskModel {Description = "Reparere mur", Subcontractor = "Mark Vestergaard", Date = "2024-11-12", Status = "Ikke åbegyndt" }
		};
	}

	private void NavigateToCreateTask(){
		NavigationManager.NavigateTo($"/createtask/{apartmentId}");
	}

	private class TaskModel
	{
		public string Description { get; set; }
		public string Subcontractor { get; set; }
		public string Date { get; set; }
		public string Status { get; set; }
	}

	// Midlertidige data for kontaktinformationer
	private string firstName = "Magnus";
	private string lastName = "Kristensen";
	private string email = "Magnus@gmail.com";
	private string phone = "1234567890";
}
