@page "/viewapartmenttask/{apartmentId:int}/{address}"
@using SkjødeSystem.Models
@inject NavigationManager NavigationManager

<h1>Opgaveliste</h1>

<p><strong>Adresse: </strong>@address</p>
<p><strong>ID: </strong>@apartmentId</p>

<table class="table table-bordered" border="3" style="table-layout: fixed; width: 100%;">
	<thead>
		<tr>
			<th style="width: 40%;">Opgaver</th>
			<th style="width: 30%;">Underentreprenør</th>
			<th style="width: 30%;">Dato</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var task in tasks)
		{
			<tr>
				<td style="word-wrap: break-word;">@task.Description</td>
				<td>@task.Subcontractor</td>
				<td>@task.Date</td>
			</tr>
		}
	</tbody>
</table>

<div style="margin-top: 10px; text-align: left;">
	<button class="btn btn-primary" @onclick="NavigateToCreateTask">
		Opret opgave
	</button>
</div>

@code {
	[Parameter]
	public int apartmentId { get; set; }

	[Parameter]
	public string address { get; set; }

	private List<TaskModel> tasks;

	protected override void OnInitialized()
	{
		address = Uri.UnescapeDataString(address);

		// Midlertidig data
		tasks = new List<TaskModel>{
			new TaskModel {Description = "Male soveværelse", Subcontractor = "Kim Nørgaard", Date = "2024-10-12"},
			new TaskModel {Description = "Reparere mur", Subcontractor = "Mark Vestergaard", Date = "2024-11-12" },
			new TaskModel {Description = "Installere vandhane", Subcontractor = "Bo Jespersen", Date = "2024-12-12" },
			new TaskModel {Description = "Reparere mur", Subcontractor = "Mark Vestergaard", Date = "2024-11-12" }
		};
	}

	private void NavigateToCreateTask(){
		NavigationManager.NavigateTo($"/createtask/{apartmentId}");
	}

	private class TaskModel
	{
		public string Description { get; set; }
		public string Subcontractor { get; set; }
		public string Date { get; set; }
	}
}
