@page "/viewtask/{UserId}"
@inject NavigationManager NavigationManager
@using MongoDB.Bson;
@inject HttpClient Http;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Core;
@using System.Net.Http
@using System.Net.Http.Json
@using SkjødeSystem.Pages.Apartment;
@inject IUserService UserService;
@inject ITaskService TaskService;


<PageTitle>View My Opgave</PageTitle>



<div class="header-container">
    <h3>Viser opgaver for @currentsubcontractor.SubcontractorName</h3>
</div>

<div class="task-board">
    <div class="column">
        <div class="column-header">Modtaget</div>
        @foreach (var task in tasks.Where(t => t.Status == "Afventer"))
        {
            <div class="task-card pending" @onclick="() => NavigateToUpdateTask(task.TaskId.ToString())" style="cursor: pointer;">
                <h5>@task.TaskName</h5>
                <p>@task.Description</p>
                <p>@task.AssignedApartment.Address</p>
                <small>Start: @task.StartDate.ToString()</small>
                <br />
                <small>End: @task.ActualEndDate?.ToString() </small>
            </div>
        }
    </div>

    <div class="column">
        <div class="column-header">Igangværende</div>
        @foreach (var task in tasks.Where(t => t.Status == "Igangværende"))
        {
            <div class="task-card in-progress" @onclick="() => NavigateToUpdateTask(task.TaskId.ToString())" style="cursor: pointer;">
                <h5>@task.TaskName</h5>
                <p>@task.Description</p>
                <p>@task.AssignedApartment.Address</p>
                <small>Start: @task.StartDate.ToString()</small>
                <br />
                <small>End: @task.ActualEndDate?.ToString() </small>
            </div>
        }
    </div>

    <div class="column">
        <div class="column-header">Færdiggjort</div>
        @foreach (var task in tasks.Where(t => t.Status == "Færdiggjort"))
        {
            <div class="task-card completed" @onclick="() => NavigateToUpdateTask(task.TaskId.ToString())" style="cursor: pointer;">
                <h5>@task.TaskName</h5>
                <p>@task.Description</p>
                <p>@task.AssignedApartment.Address</p>
                <small>Start: @task.StartDate.ToString()</small>
                <br />
                <small>End: @task.ActualEndDate?.ToString() </small>
            </div>
        }
    </div>
</div>

@code {

    private List<TaskItem> tasks = new List<TaskItem>();
    private Subcontractor currentsubcontractor = new Subcontractor();
    private Subcontractor? currentUser;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        //Tjekker nuværende bruger:
        currentUser = await localStorage.GetItemAsync<Subcontractor>("user");
        if (currentUser == null || currentUser.Role != "Subcontractor")
        {
            NavigationManager.NavigateTo("/login");
        }

        //Henter Subcontractor ud fra ID

        currentsubcontractor = await UserService.GetSubcontractorById(UserId);


        // Henter liste af alle opgaver for den pågældene subcontractor:
        tasks = await TaskService.GetTasksBySubcontractor(UserId);


    }

    public void NavigateToUpdateTask(string taskId)
    {
        NavigationManager.NavigateTo($"/updatetask/{taskId}");
    }

    [Parameter]
    public string UserId { get; set; } //Parameter modtaget som streng 
}

